# Input/Output JSON file names

ZAP_INPUT_FILENAME=
ZAP_OUTPUT_FILENAME=
HUB_STRAT_INPUT_FILENAME=
HUB_STRAT_OUTPUT_FILENAME=

# Contract verification

ETHERSCAN_API_KEY=

# RPC URLs

MAINNET_RPC_URL=
